body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.wheel {
    display: flex;
    position: relative;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));}

.btn {
    background-color: gold;
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    margin: auto;
    position: absolute;
    top: 650px;
    left: 200px;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    border: pink 1px solid
}

.btn-disabled {
    opacity: .6;
    cursor: not-allowed;
}
